/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
:root {
  --color-primary: #2b1055;
  --color-primary-light: #8F00FF;
  --color-primary-dark: #1c0522;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* max-width: 100%; */
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  font-size: 2rem;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  /* @media screen and (min-width: 628px) {
    font-size: 10px;
    letter-spacing: 1px; 
  }  */
}

@media screen and (max-width: 56.25em) {
  header .logo {
    font-size: 24px;
    color: var(--color-primary-light-1);
  }

  header ul li a {
    font-size: 16px;
    padding: 4px 12px;
  }
}
@media screen and (max-width: 31.25em) {
  header .logo {
    font-size: 1rem;
  }

  header ul li a {
    font-size: 14px;
    padding: 2px 8px;
  }
}
/* 
@media screen and (max-width: 970px) and (min-width: 629px) {
  section{
    height: 90vh;
  } 
} */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: var(--color-primary);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
  /* flex: 0 0 100%; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, var(--color-primary-dark), transparent);
  z-index: 1000;
}

@media screen and (max-width: 628px) {
  section {
    padding: 10px;
    height: 90vh;
  }

  section::before {
    height: 20px;
  }
}
@media screen and (max-width: 970px) and (min-width: 629px) {
  section {
    padding: 30px;
    height: 110vh;
  }

  section::before {
    height: 40px;
  }
}
section img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
  /* @media screen and (min-width: 973px) {
    height: calc(100vh - 100px);
  } */
  /* @media screen and (min-width: 845px) {
    height: 500px;
  }  

  @media screen and (min-width: 600px) {
    height: 400px;
  }   */
}

@media screen and (max-width: 628px) {
  section::before {
    height: 20px !important;
  }

  header {
    padding: 8px 36px;
  }

  header .logo {
    font-size: 16px;
    color: var(--color-primary-light);
  }

  header ul li a {
    font-size: 12px;
    padding: 3px 10px;
  }
}
@media screen and (max-width: 440px) {
  header {
    padding: 5px 20px;
    width: 100%;
  }

  header .logo {
    font-size: 12px;
    color: var(--color-primary-light);
  }

  header ul li a {
    font-size: 10px;
    padding: 0 8px;
  }
}
img {
  max-width: 100vw;
  height: auto;
}

.main {
  padding: 1em 0;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

section h2#text {
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 7rem;
  font-weight: bold;
  z-index: 9;
  text-transform: uppercase;
  margin-right: -270px;
  margin-top: -15px;
  padding: 0;
}

@media screen and (max-width: 37.5em) {
  section h2 {
    font-size: 22px !important;
    margin-top: 0;
  }

  section #text-title {
    margin-top: 0;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 56.25em) and (min-width: 37.5em) {
  section h2 {
    font-size: 40px !important;
    margin-top: -10px;
  }

  section #text-title {
    font-size: 12px;
    margin-top: -0.05rem;
    transform: translateY(40px);
  }
}
#text-title {
  color: #fff;
  font-size: 15px;
  margin-top: -0.1rem;
  padding: 0;
  z-index: 9;
  transform: translateY(50px);
}

.hero__content {
  display: block;
  box-sizing: border-box;
  height: 200px;
  background: var(--color-primary-dark);
  clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
}

@media screen and (max-width: 37.5em) {
  .hero__content {
    height: 80px !important;
  }
}
.container--info {
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 56.25em) {
  .container--info {
    flex-direction: column-reverse;
  }
}

.image {
  flex: 0 0 50%;
}

.image-right {
  width: 100%;
  max-width: 500px;
  height: auto;
}
@media screen and (max-width: 56.25em) {
  .image-right {
    max-width: 50vw;
  }
}

.info {
  display: block;
  margin-left: 3rem;
  margin-top: 2rem;
  flex: 0 0 50%;
  height: auto;
}
.info__heading {
  color: aqua;
  margin-top: 10px;
  font-size: 2.5rem;
}
@media screen and (max-width: 56.25em) {
  .info__heading {
    font-size: 1.5rem;
  }
}
.info__greet {
  font-size: 1.4rem;
  line-height: 18px;
  color: #fff;
  font-weight: lighter;
  margin-top: 1rem;
}
@media screen and (max-width: 56.25em) {
  .info__greet {
    font-size: 1.2rem;
  }
}
.info__name {
  margin-top: 5rem;
  font-size: 2rem;
  color: var(--color-primary-light);
}
@media screen and (max-width: 56.25em) {
  .info__name {
    font-size: 1.8rem;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 37.5em) {
  .info__name {
    font-size: 1.3rem;
    margin-top: 1.8rem;
  }
}
.info__detail {
  font-size: 1.4rem;
  line-height: 18px;
  color: #fff;
  font-weight: lighter;
  max-width: 35vw;
  margin-top: 2rem;
}
@media screen and (max-width: 56.25em) {
  .info__detail {
    max-width: 50vw;
  }
}

.container--2 {
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
@media screen and (max-width: 56.25em) {
  .container--2 {
    flex-direction: column-reverse;
  }
}

.info--2 {
  display: block;
  margin-left: 3rem;
  margin-top: 2rem;
  flex: 0 0 50%;
  height: auto;
}
.info--2__heading {
  color: aqua;
  font-size: 2rem;
}
@media screen and (max-width: 56.25em) {
  .info--2__heading {
    font-size: 1.5rem;
    max-width: 449px;
  }
}
.info--2__sub-heading {
  color: aqua;
  margin-top: 1rem;
  font-size: 2.5em;
  font-size: 2.5rem;
  margin-bottom: 0;
  color: aqua;
}
@media screen and (max-width: 56.25em) {
  .info--2__sub-heading {
    font-size: 2.5rem;
  }
}
.info--2__detail {
  font-size: 1.4rem;
  line-height: 18px;
  color: #fff;
  font-weight: lighter;
  max-width: 35vw;
  margin-top: 2rem;
}
@media screen and (max-width: 56.25em) {
  .info--2__detail {
    font-size: 14px;
    max-width: 50vw;
  }
}
.info--2 .info--2__solution {
  --fs-h2: 3rem;
  font-size: var(--fs-h2);
  color: var(--color-primary-dark);
  line-height: 1.4;
  margin-bottom: 1em;
}

h1.main-title {
  font-size: 2.5em;
  margin-bottom: 1rem;
  color: var(--color-primary-light);
}

h3.title {
  font-size: 1.8em;
  margin-top: 10px;
  max-width: 250px;
  color: #fff;
}

.genre {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
  color: var(--color-primary-light);
}

p.sub-title {
  margin-top: 5px;
  margin-bottom: 30px;
  width: fit-content;
  font-size: 1.4rem;
  line-height: 18px;
  color: #fff;
  font-weight: lighter;
}

.container--works {
  width: 900px;
  margin: 60px auto 100px auto;
}
@media (max-width: 980px) {
  .container--works {
    width: 100%;
  }
}

.news {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}
@media (max-width: 980px) {
  .news {
    grid-template-rows: repeat(7, 200px);
  }
}

.box {
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
  color: white;
  position: relative;
}
@media (max-width: 980px) {
  .box {
    background-size: 120%;
  }
}

.read-btn {
  background-color: white;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
  transition: transform 0.2s ease-in-out;
}
.read-btn:hover {
  transform: translateX(5px);
}

.box {
  background-position: center;
  transition: box-shadow 0.2s ease-in-out;
}

.box1 {
  grid-column: 1/3;
  background-image: url(https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.25);
}
@media (max-width: 980px) {
  .box1 {
    grid-column: 1/6;
    grid-row: 1/2;
  }
}
.box1:hover {
  box-shadow: 3px 3px 20px 0px rgba(59, 168, 163, 0.55);
}
.box1 .read-btn {
  color: #7bb0ad;
}

.box2 {
  grid-column: 3/4;
  grid-row: 1/3;
  background-image: url(https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.25);
}
@media (max-width: 980px) {
  .box2 {
    grid-column: 1/6;
    grid-row: 2/3;
  }
}
.box2:hover {
  box-shadow: 3px 3px 20px 0px rgba(2, 48, 76, 0.55);
}
.box2 .read-btn {
  color: #152532;
}

.box3 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(https://images.pexels.com/photos/2901209/pexels-photo-2901209.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.25);
}
@media (max-width: 980px) {
  .box3 {
    grid-column: 1/6;
    grid-row: 3/4;
  }
}
.box3:hover {
  box-shadow: 3px 3px 20px 0px rgba(73, 34, 2, 0.55);
}
.box3 .read-btn {
  color: #cd935b;
}

.box4 {
  grid-column: 1/2;
  grid-row: 2/4;
  background-image: url(https://images.pexels.com/photos/2343468/pexels-photo-2343468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box4 {
    grid-column: 1/6;
    grid-row: 4/5;
  }
}
.box4:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box4 .read-btn {
  color: #43acc9;
}

.box5 {
  grid-column: 2/3;
  grid-row: 2/4;
  background-image: url(https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.25);
}
@media (max-width: 980px) {
  .box5 {
    grid-column: 1/6;
    grid-row: 5/6;
  }
}
.box5:hover {
  box-shadow: 3px 3px 20px 0px rgba(255, 131, 199, 0.55);
}
.box5 .read-btn {
  color: #fea0a5;
}

.box6 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-image: url(https://images.pexels.com/photos/994234/pexels-photo-994234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.25);
}
@media (max-width: 980px) {
  .box6 {
    grid-column: 1/6;
    grid-row: 6/7;
  }
}
.box6:hover {
  box-shadow: 3px 3px 20px 0px rgba(60, 162, 186, 0.55);
}
.box6 .read-btn {
  color: #63bdfe;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
}

/* 
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #021718;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li a {
  color: #021718;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
} */
/* Header */
.transparent {
  background: rgba(159, 159, 207, 0.1);
  height: 100px;
  position: absolute;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
}

/* background: #cce; */
/* position: absolute; */
header .logo {
  color: aqua;
  font-weight: 700;
  text-decoration: none;
  /* font-size: 1.5em; */
  /* font-size: 2em; */
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  /* @media screen and (min-width: 628px) {
    font-size: 10px;
    letter-spacing: 1px; 
  }  */
}

/* @media screen and (max-width: $bp-medium) {


  header .logo {
    font-size: 24px;
    color: var(--color-primary-light-1);
  }

  header ul li a {
    font-size: 16px;
    padding: 4px 12px;
  }

} */
/* @media screen and (max-width: $bp-smallest) {
  header .logo {
    font-size: 1rem;

  }

  header ul li a {
    font-size: 14px;
    padding: 2px 8px;
  }
} */
/* 
@media screen and (max-width: 970px) and (min-width: 629px) {
  section{
    height: 90vh;
  } 
} */
/* Hero image */
.header__footer {
  position: relative;
  text-align: center;
  background: black;
  /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  /* background: black; */
}

.content {
  position: relative;
  height: 30vh;
  text-align: center;
  background-color: #0e051c;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}
.footer {
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: aqua;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.home .hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.home__header {
  overflow: hidden;
  position: relative;
}

.home__header .wave,
.home__header__illu-mobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .home__header {
    margin-bottom: 20vh;
  }
}
@media screen and (max-width: 1024px) {
  .home__header {
    margin-bottom: 60vh;
  }
}
@media screen and (max-width: 991px) {
  .home__header {
    margin-bottom: 7rem;
  }

  .home__header__illu-mobile {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.home__header__bg {
  padding-bottom: 95%;
  position: absolute;
  top: -10%;
  left: -5%;
  width: 110%;
  z-index: 1;
  pointer-events: none;
}

.home__header__bg__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1f1137;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  clip-path: url(#mask);
  -webkit-clip-path: url(#mask);
}

@media screen and (max-width: 1440px) {
  .home__header__bg {
    top: -10%;
    padding-bottom: 110.5%;
    left: -25%;
    width: 150%;
  }
}
@media screen and (min-width: 1180px) and (max-width: 1280px) {
  .home__header__bg {
    padding-bottom: 105%;
  }
}
@media screen and (max-width: 991px) {
  .home__header__bg {
    display: none;
  }
}
.home__header__sun {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 11%;
  z-index: 3;
  padding-bottom: 11%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .home__header__sun {
    display: none;
  }
}
.home__header__paper {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 46%;
  padding-bottom: 46%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 3;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .home__header__paper {
    display: none;
  }
}
.home__header__illu {
  width: 65%;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
  margin-left: 45%;
  margin-top: -5%;
  z-index: 4;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .home__header__illu {
    display: none;
  }
}
.home__header .container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
}

@media screen and (max-width: 991px) {
  .home__header .container {
    position: relative;
    top: auto;
    height: auto;
    left: auto;
    right: auto;
  }
}
.home__header__content {
  position: absolute;
  top: 50vh;
  transform: translateY(calc(-50% + 5rem));
  z-index: 1;
  width: 50%;
}

@media screen and (max-width: 1440px) {
  .home__header__content {
    top: 30vh;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1280px) {
  .home__header__content {
    top: 25vh;
    width: 55%;
  }
}
@media screen and (max-width: 1024px) {
  .home__header__content {
    top: 15vh;
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  .home__header__content {
    position: relative;
    top: auto;
    width: 100%;
  }
}
.home__header__content .subtitle {
  color: #fff;
}

.home__header__content .subtitle:after {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .home__header__content .subtitle {
    color: #000;
  }

  .home__header__content .subtitle:after {
    background-color: #000;
  }
}
.home__header__content .title,
.home__header__content .two-cols h2,
.rich-content .home__header__content h2,
.two-cols .home__header__content h2 {
  color: aqua;
  max-width: 100%;
  font-weight: 100;
}

.home__header__content .title strong,
.home__header__content .two-cols h2 strong,
.rich-content .home__header__content h2 strong,
.two-cols .home__header__content h2 strong {
  display: block;
  margin-bottom: 3.5rem;
  color: #eb2b3e;
  font-weight: 800;
  font-size: 6rem;
}

@media screen and (max-width: 991px) {
  .home__header__content .title,
.home__header__content .two-cols h2,
.rich-content .home__header__content h2,
.two-cols .home__header__content h2 {
    color: #fff;
  }
}
.home__header__content p {
  color: #fff;
  font-weight: lighter;
  margin-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .home__header__content p {
    color: #fff;
  }
}
header {
  /* background: #cce; */
  background: rgba(159, 159, 207, 0.1);
  height: 100px;
  position: absolute;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  /* max-width: 100%; */
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  /* font-size: 1.2rem; */
  font-size: 28px;
}

header .logo {
  color: aqua;
  font-weight: 700;
  text-decoration: none;
  /* font-size: 1.5em; */
  /* font-size: 2em; */
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  /* @media screen and (min-width: 628px) {
    font-size: 10px;
    letter-spacing: 1px; 
  }  */
}

/* @media screen and (max-width: $bp-medium) {


  header .logo {
    font-size: 24px;
    color: var(--color-primary-light-1);
  }

  header ul li a {
    font-size: 16px;
    padding: 4px 12px;
  }

} */
/* @media screen and (max-width: $bp-smallest) {
  header .logo {
    font-size: 1rem;

  }

  header ul li a {
    font-size: 14px;
    padding: 2px 8px;
  }
} */
/* 
@media screen and (max-width: 970px) and (min-width: 629px) {
  section{
    height: 90vh;
  } 
} */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
  font-size: 14px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: var(--color-primary);
}

.header__footer {
  position: relative;
  text-align: center;
  background: black;
  /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  /* background: black; */
}

.content {
  position: relative;
  height: 30vh;
  text-align: center;
  background-color: #0e051c;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}
.footer {
  position: relative;
  width: 100%;
  /* background: #3586ff; */
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: aqua;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.headline {
  position: absolute;
  margin-top: -250px;
  display: flex;
  margin-left: 30px;
  width: fit-content;
  /* word-wrap: break-word; */
}

.headline h1 {
  font-size: 120px;
  color: #54c1d9;
  font-weight: bold;
  line-height: normal;
}

/* @import url(//hello.myfonts.net/count/3bc7c0); */
/* a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */
/* @font-face {
  font-family: AmsiNarw;
  src: url(../fonts/AmsiProNarrow-Regular.woff2) format("woff2"),
    url(../fonts/AmsiProNarrow-Regular.woff) format("woff");
}
@font-face {
  font-family: AmsiItalic;
  src: url(../fonts/AmsiProNormal-Italic.woff2) format("woff2"),
    url(../fonts/AmsiProNormal-Italic.woff) format("woff");
}
@font-face {
  font-family: AmsiBold;
  src: url(../fonts/AmsiProNormal-Bold.woff2) format("woff2"),
    url(../fonts/AmsiProNormal-Bold.woff) format("woff");
}
@font-face {
  font-family: Amsi;
  src: url(../fonts/AmsiProNormal-Regular.woff2) format("woff2"),
    url(../fonts/AmsiProNormal-Regular.woff) format("woff");
}
@font-face {
  font-family: AmsiNarwBlack;
  src: url(../fonts/AmsiProNarrow-Black.woff2) format("woff2"),
    url(../fonts/AmsiProNarrow-Black.woff) format("woff");
} */
/* html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.5;
}
a, */
a:hover {
  text-decoration: none;
}

.link {
  font-family: AmsiBold;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #000;
  position: relative;
  display: table;
  letter-spacing: 1px;
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.link:before {
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transform: scaleX(0);
  transform-origin: left center;
}

.link:after,
.link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #000;
}

.link:after {
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95) 0.2s;
  transform-origin: right center;
}

.link:hover:after {
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.link:hover:before {
  transform: scaleX(1);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95) 0.2s;
}

.subtitle {
  color: darkmagenta;
  font-family: "Roboto", sans-serif;
  font-size: 6.6rem;
  overflow-wrap: break-word;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 3.8rem;
  line-height: 1;
}

.subtitle:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 7rem;
  background-color: #000;
}

.subtitle--noborder {
  padding-bottom: 0;
}

.subtitle--noborder:after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .subtitle {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}
.subtitle.t-center:after {
  right: 0;
  margin: auto;
}

.title-uppercase {
  font-family: AmsiNarwBlack;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #54c1d9;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .title-uppercase {
    font-size: 2rem;
  }

  .title-uppercase br,
.title-uppercase br:after {
    content: " ";
  }
}
.rich-content h3,
.small-title {
  font-family: AmsiNarwBlack;
  font-size: 3rem;
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
  .rich-content h3,
.small-title {
    font-size: 2.4rem;
  }
}
.grid-boxes__head h2,
.grid-boxes__head h3,
.grid-boxes__head h4,
.rich-content h2,
.title,
.two-cols h2 {
  /* font-family: AmsiNarw; */
  font-family: "Roboto", sans-serif;
  font-size: 4.6rem;
  line-height: 4.8rem;
  margin-bottom: 3rem;
}

.grid-boxes__head h2 strong,
.grid-boxes__head h3 strong,
.grid-boxes__head h4 strong,
.rich-content h2 strong,
.title strong,
.two-cols h2 strong {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .grid-boxes__head h2,
.grid-boxes__head h3,
.grid-boxes__head h4,
.rich-content h2,
.title,
.two-cols h2 {
    font-size: 2.9rem;
    line-height: 3rem;
  }
}
p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 1.7rem;
  }
}
.subheading,
.subheadings .wp-block-column p {
  font-size: 2.2rem;
  line-height: 3.6rem;
}

@media screen and (max-width: 1200px) {
  .subheading,
.subheadings .wp-block-column p {
    font-size: 1.9rem;
    line-height: 2.8rem;
  }
}
.intro {
  font-family: AmsiBold;
  font-size: 2.2rem;
  line-height: 3.6rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1200px) {
  .intro {
    font-size: 1.7rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
  }
}
.btn {
  font-family: AmsiBold;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color: #000;
  display: table;
  padding: 1.9rem 3rem 1.7rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4rem;
  position: relative;
  cursor: pointer;
  transform: translateZ(0);
  transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

.btn:focus,
.btn:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn.loading {
  font-size: 0;
}

.btn.loading:before {
  opacity: 0;
  visibility: hidden;
}

.btn.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/svg/spin.svg) no-repeat 50%;
  background-size: contain;
  height: 2rem;
  width: 2rem;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
}

.btn--header {
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}

@media screen and (max-width: 1024px) {
  .btn--header {
    display: none;
  }
}
.btn--header:after {
  background-color: #000;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  transform-origin: center;
  will-change: transform;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn--header:hover {
  transform: translateZ(0);
  box-shadow: none;
  color: #fff;
  transition: color 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95) 0.1s;
}

.btn--header:hover:after {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn--white {
  background-color: #fff;
  border: none;
  color: #000;
}

.btn--pink {
  background-color: #eb2b3e;
  border: none;
  color: #fff;
}

.btn--pink-stroke {
  border-color: #eb2b3e;
  color: #eb2b3e;
  background-color: transparent;
}

.btn--pink-stroke.loading:after {
  background: url(../img/svg/spin-pink.svg) no-repeat 50%;
}

.btn--white-stroke {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}

.btn--white-stroke.loading:after {
  background: url(../img/svg/spin-white.svg) no-repeat 50%;
}

.btn--black {
  background-color: #000;
  border: none;
  color: #fff;
}

.btn--refresh {
  padding-left: 7rem;
  position: relative;
}

.btn--refresh:before {
  content: "";
  display: block;
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background: url(../img/svg/refresh-arrows.svg) no-repeat 50%;
  background-size: contain;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%) translateZ(0);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 2;
}

.btn--refresh:focus:before,
.btn--refresh:hover:before {
  transform: translateY(-50%) translateZ(0) rotate(1turn);
}

.edge .btn--header:after {
  display: none;
}

.edge .btn--header:focus,
.edge .btn--header:hover {
  background-color: #000;
}

.t-center {
  text-align: center;
}

.form-input {
  border-radius: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: AmsiBold;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-appearance: none;
  width: 51.5rem;
  padding: 1.4rem 3rem 1.6rem;
}

@media screen and (max-width: 991px) {
  .form-input {
    width: 100%;
  }
}
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

a[x-apple-data-detectors] {
  color: #fff !important;
}

/* * {
  box-sizing: border-box;
  outline: none;
} */
/* html {
  overflow-x: hidden;
  overflow-y: scroll;
} */
/* body {
 background-color: black;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
} */
/* @media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
} */
.container {
  margin: 0 auto;
  max-width: 90%;
  width: 1280px;
}

img {
  max-width: 100%;
}

.vCenter {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

/* .has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
} */
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 6;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.grid,
.vocal__header .wp-block-columns {
  flex-wrap: wrap;
  align-items: stretch;
  display: flex;
}

.grid.v-center,
.vocal__header .v-center.wp-block-columns {
  align-items: center;
}

.grid .col,
.grid .vocal__header .wp-block-column,
.vocal__header .grid .wp-block-column,
.vocal__header .wp-block-columns .col,
.vocal__header .wp-block-columns .wp-block-column {
  width: 8.3333%;
}

.grid .col.offset-2,
.grid .vocal__header .offset-2.wp-block-column,
.vocal__header .grid .offset-2.wp-block-column,
.vocal__header .wp-block-columns .col.offset-2,
.vocal__header .wp-block-columns .offset-2.wp-block-column {
  margin-left: 16.66667%;
}

.grid .col-2,
.vocal__header .wp-block-columns .col-2 {
  width: 16.66667%;
}

.grid .col-3,
.vocal__header .wp-block-columns .col-3 {
  width: 25%;
}

.grid .col-4,
.vocal__header .wp-block-columns .col-4 {
  padding: 0 3%;
  width: 33.3333%;
}

.grid .col-6,
.grid .vocal__header .wp-block-column,
.vocal__header .grid .wp-block-column,
.vocal__header .wp-block-columns .col-6,
.vocal__header .wp-block-columns .wp-block-column {
  width: 50%;
}

.grid .col-8,
.vocal__header .wp-block-columns .col-8 {
  width: 66.666667%;
}

.grid .col-9,
.vocal__header .wp-block-columns .col-9 {
  width: 75%;
}

.grid .col-10,
.vocal__header .wp-block-columns .col-10 {
  width: 83.3333%;
}

.grid-boxes .grid,
.grid-boxes .vocal__header .wp-block-columns,
.vocal__header .grid-boxes .wp-block-columns {
  margin-left: -15px;
  width: calc(100% + 30px);
}

@media screen and (max-width: 991px) {
  .grid-boxes .grid,
.grid-boxes .vocal__header .wp-block-columns,
.vocal__header .grid-boxes .wp-block-columns {
    margin-left: 0;
    width: 100%;
  }
}
.grid-boxes .grid .col-4,
.grid-boxes .vocal__header .wp-block-columns .col-4,
.vocal__header .grid-boxes .wp-block-columns .col-4 {
  margin: 0 15px 30px;
  width: calc(33.3333% - 30px);
}

@media screen and (max-width: 991px) {
  .grid-boxes .grid .col-4,
.grid-boxes .vocal__header .wp-block-columns .col-4,
.vocal__header .grid-boxes .wp-block-columns .col-4 {
    margin: 2rem 0;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .grid,
.vocal__header .wp-block-columns {
    display: block;
  }

  .grid .col,
.grid .vocal__header .wp-block-column,
.vocal__header .grid .wp-block-column,
.vocal__header .wp-block-columns .col,
.vocal__header .wp-block-columns .wp-block-column {
    width: 100%;
  }
}
.owl-carousel .owl-item {
  display: inline-block;
  vertical-align: middle;
}

.owl-nav.disabled {
  display: none;
}

@media screen and (max-width: 991px) {
  .owl-stage-outer {
    overflow: hidden;
  }
}
.d-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .d-desktop {
    display: none;
  }

  .d-mobile {
    display: block;
  }
}
#toggle-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  #toggle-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 5%;
    height: 3.7rem;
    width: 3.7rem;
    background-color: #000;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-appearance: none;
  }

  #toggle-menu span {
    background: url(../img/svg/menu.svg) no-repeat 50%;
    display: block;
    height: 3.7rem;
    width: 2rem;
    margin: 0 auto;
  }

  #toggle-menu.animate {
    background-color: transparent;
  }

  #toggle-menu.animate span {
    background-image: url(../img/svg/close.svg);
    background-size: 120%;
  }
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  z-index: 5;
  transform: translateZ(0);
  transition: all 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

@media screen and (max-width: 1024px) {
  .header {
    position: absolute;
    height: auto;
    border: none;
    transform: none;
  }
}
.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header .container {
    height: auto;
  }
}
.header__logo {
  position: relative;
  height: 100%;
  width: 15rem;
}

.header__logo img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateZ(0);
}

.header__logo__symbol {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

@media screen and (max-width: 1024px) {
  .header__logo__symbol {
    opacity: 1;
    visibility: visible;
    height: 3.7rem;
    width: 3rem;
  }
}
.header__logo__symbol--white {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .header__logo__symbol--white {
    height: 3.7rem;
    width: 3rem;
  }
}
.header__logo__full {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

@media screen and (max-width: 1024px) {
  .header__logo__full {
    opacity: 0;
    visibility: hidden;
  }
}
.header__logo__full--white {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    height: 6rem;
    width: 6rem;
  }
}
.header__nav .btn--mobile,
.header__nav .logo-mobile,
.header__nav__social {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    top: 0;
    padding-top: 6rem;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .header__nav.animate {
    opacity: 1;
    visibility: visible;
  }

  .header__nav.animate .header__nav__menu__item__submenu {
    pointer-events: auto;
  }

  .header__nav__social {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .header__nav__social__link {
    display: block;
    padding: 1rem 2.5rem;
  }

  .header__nav .btn--mobile {
    display: block;
    margin: 2rem auto;
    color: #fff;
    text-align: center;
    width: 90%;
  }

  .header__nav .btn--mobile span {
    color: #fff;
  }

  .header__nav .logo-mobile {
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 5%;
  }
}
@media screen and (max-width: 320px) {
  .header__nav .header__nav {
    overflow: auto;
  }
}
.header__nav__menu {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .header__nav__menu {
    display: block;
  }
}
.header__nav__menu__item {
  margin: 0 1.5rem;
  transform: translateZ(0);
}

@media screen and (min-width: 1025px) and (max-width: 1100px) {
  .header__nav__menu__item:first-child {
    margin-left: 0;
  }

  .header__nav__menu__item:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav__menu__item {
    margin: 0;
  }

  .header__nav__menu__item:first-child .header__nav__menu__item__link {
    padding-bottom: 1rem;
  }

  .header__nav__menu__item:last-child .header__nav__menu__item__link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.header__nav__menu__item__link {
  color: #000;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1;
  font-family: AmsiBold;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateZ(0);
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  position: relative;
}

@media screen and (min-width: 1025px) and (max-width: 1100px) {
  .header__nav__menu__item__link {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav__menu__item__link {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2.8rem 5% 3rem;
    font-family: AmsiNarwBlack;
    font-size: 2.4rem;
    text-transform: none;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1025px) {
  .header__nav__menu__item__link.active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000;
  }
}
@media screen and (min-width: 1025px) {
  .header__nav__menu__item:hover .header__nav__menu__item__link {
    color: rgba(0, 0, 0, 0.5);
  }

  .header__nav__menu__item:hover .header__nav__menu__item__submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateZ(0);
  }
}
.header__nav__menu__item__submenu {
  background-color: #fff;
  box-shadow: 0 10px 54px 0 rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  width: 50rem;
  margin-left: -4rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate3d(0, 3%, 0);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width: 1024px) {
  .header__nav__menu__item__submenu {
    position: relative;
    opacity: 1;
    visibility: visible;
    width: 100%;
    box-shadow: none;
    margin-left: 0;
    padding: 0 0 2rem 6%;
    transform: translateZ(0);
  }
}
.header__nav__menu__item__submenu__item__link {
  color: #000;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0 1rem;
  transition: background-color 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

@media screen and (max-width: 1024px) {
  .header__nav__menu__item__submenu__item__link {
    padding: 0;
    align-items: center;
  }
}
.header__nav__menu__item__submenu__item__link .icon {
  transition: opacity 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  width: 10rem;
  display: flex;
  align-items: center;
}

.header__nav__menu__item__submenu__item__link .icon img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .header__nav__menu__item__submenu__item__link .icon {
    opacity: 1;
    height: auto;
    width: 6rem;
  }
}
.header__nav__menu__item__submenu__item__link .content {
  width: calc(100% - 15rem);
}

.header__nav__menu__item__submenu__item__link .content__title {
  display: block;
  color: #000;
  font-family: AmsiBold;
  font-size: 1.7rem;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 320px) {
  .header__nav__menu__item__submenu__item__link .content .header__nav__menu__item__submenu__item__link .content__title {
    font-size: 1.4rem;
  }
}
.header__nav__menu__item__submenu__item__link .content__text {
  display: block;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2.2rem;
}

@media screen and (max-width: 1024px) {
  .header__nav__menu__item__submenu__item__link .content {
    width: calc(85% - 5rem);
    margin-left: 1rem;
  }

  .header__nav__menu__item__submenu__item__link .content__text {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .header__nav__menu__item__submenu__item__link.active,
.header__nav__menu__item__submenu__item__link:hover {
    background-color: #f2f2f2;
  }

  .header__nav__menu__item__submenu__item__link.active .icon,
.header__nav__menu__item__submenu__item__link:hover .icon {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav__menu__item__submenu__item {
    margin-bottom: 0;
  }
}
.header.scroll {
  background-color: #fff;
  height: 9rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

@media screen and (max-width: 1024px) {
  .header.scroll {
    box-shadow: none;
    background: transparent;
  }
}
.header.scroll a.btn {
  color: #000;
  border-color: rgba(0, 0, 0, 0.3);
}

.header.scroll a.btn:hover {
  color: #fff;
}

.header.scroll .header__logo__full {
  opacity: 0;
  visibility: hidden;
}

.header.scroll .header__logo__symbol {
  opacity: 1;
  visibility: visible;
}

.header.scroll .header__nav__menu__item__link {
  color: #000;
}

.header.scroll .header__nav__menu__item:hover .header__nav__menu__item__link {
  color: rgba(0, 0, 0, 0.5);
}

.header-white .header {
  border-color: transparent;
}

.header-white .header__logo__full {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .header-white .header__logo__full {
    opacity: 0;
    visibility: hidden;
  }
}
.header-white .header__logo__full--white {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1024px) {
  .header-white .header__logo__full--white,
.header-white .header__logo__symbol {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .header-white .header__logo__symbol--white {
    opacity: 1;
    visibility: visible;
  }
}
.header-white .header__nav__menu__item__link {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .header-white .header__nav__menu__item__link {
    color: #000;
  }
}
@media screen and (min-width: 992px) {
  .header-white .header__nav__menu__item:hover .header__nav__menu__item__link {
    color: rgba(255, 255, 255, 0.5);
  }
}
.header-white .header .btn {
  border-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.header-white .header .btn:hover {
  border-color: transparent;
  transition: all 0.3s cubic-bezier(0.15, 0.9, 0.34, 0.95) 0.1s;
}

/* .footer {
  position: relative;
  padding-top: 17vw;
  padding-bottom: 6.5rem;
  z-index: 1;
}
.footer__wave {
  padding-bottom: 25.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  background: url(../img/svg/wave-footer.svg) no-repeat 50%;
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 12rem;
    margin-top: 8rem;
  }
  .footer__wave {
    display: block;
    width: 200%;
    position: absolute;
    left: -70%;
    padding-bottom: 200%;
    z-index: 0;
  }
}
.footer .container {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .footer .container {
    display: block;
    position: static;
  }
}
.footer__logo img {
  display: block;
}
@media screen and (max-width: 991px) {
  .footer__logo {
    display: block;
    margin-bottom: 6rem;
    position: relative;
    z-index: 1;
  }
  .footer__logo img {
    margin: 0 auto;
  }
}
.footer__social {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 991px) {
  .footer__social {
    bottom: 4.5rem;
  }
}
.footer__social__link {
  display: table;
  height: 4rem;
  width: 4rem;
  position: relative;
  margin: 0 0.5rem;
}
@media screen and (max-width: 991px) {
  .footer__social__link {
    margin: 0 1.5rem;
  }
}
.footer__social__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #eb2b3e;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: scale(0) translateZ(0);
}
.footer__social__link img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
}
.footer__social__link:hover:before {
  transform: scale(1) translateZ(0);
}
.footer__nav {
  display: flex;
}
@media screen and (max-width: 991px) {
  .footer__nav {
    display: block;
  }
}
.footer__nav__link {
  color: #fff;
  text-transform: uppercase;
  margin-left: 3rem;
  font-family: AmsiBold;
  font-size: 1.3rem;
  line-height: 1;
  letter-spacing: 1px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .footer__nav__link {
    display: table;
    margin: 3rem auto;
  }
}
.footer__nav__link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transform-origin: right center;
}
.footer__nav__link:hover:after {
  transform: scaleX(1);
  transform-origin: left center;
}
 */
.home .hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.home__header {
  overflow: hidden;
  position: relative;
}

.home__header .wave,
.home__header__illu-mobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .home__header {
    margin-bottom: 20vh;
  }
}
@media screen and (max-width: 1024px) {
  .home__header {
    margin-bottom: 60vh;
  }
}
@media screen and (max-width: 991px) {
  .home__header {
    margin-bottom: 7rem;
  }

  .home__header__illu-mobile {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.project__info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.project__info .project__image {
  flex: 0 0 50%;
  position: absolute;
  left: 25%;
  width: 50%;
  left: 70px;
}
.project__info .project__dtls {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  top: 25%;
  left: 40%;
  align-items: flex-end;
  position: absolute;
}
.project__info .project__description {
  background-color: rgba(148, 0, 211, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
  height: 150px;
  border-radius: 5px;
  padding: 15px 10px;
  text-align: end;
  color: #fff;
  margin: 10px 0 10px 0;
}
.project__info .project__description:hover {
  background-color: #0e051c;
  cursor: pointer;
}
.project__info .info__desc {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  width: fit-content;
}

.project__subtitle {
  font-size: 12px;
  color: #eb2b3e;
  font-weight: 500;
}

.project__title {
  font-size: 5rem;
  color: aqua;
}

.tech__used {
  display: flex;
  align-items: center;
  /* Default */
  justify-content: space-between;
  width: 60%;
  color: #fff;
  margin: 0;
  padding: 0;
}
.tech__used li {
  display: block;
  flex: 0 0 auto;
  /* Default */
  list-style-type: none;
}

.project__info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.project__info2 .project__image2 {
  flex: 0 0 50%;
  position: absolute;
  width: 50%;
  left: 45%;
}
.project__info2 .project__dtls2 {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50vw;
  top: 25%;
  left: 10%;
  align-items: flex-start;
}
.project__info2 .project__description2 {
  background-color: rgba(148, 0, 211, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
  height: 150px;
  border-radius: 5px;
  padding: 15px 10px;
  text-align: start;
  color: #fff;
  margin: 10px 0 10px 0;
  backdrop-filter: blur(10px);
}
.project__info2 .project__description2:hover {
  background-color: #0e051c;
  cursor: pointer;
}
.project__info2 .info__desc2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  width: fit-content;
}

.project__subtitle2 {
  font-size: 12px;
  color: #eb2b3e;
  font-weight: 500;
}

.project__title2 {
  font-size: 5rem;
  color: aqua;
}

.tech__used2 {
  display: flex;
  align-items: center;
  /* Default */
  justify-content: space-between;
  width: 60%;
  color: #fff;
  margin: 0;
  padding: 0;
}
.tech__used2 li {
  display: block;
  flex: 0 0 auto;
  /* Default */
  list-style-type: none;
}

.lnk {
  background-color: transparent;
  border: 1px solid #eb2b3e;
  border-radius: 0.2em;
  color: aqua;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 1;
  margin-top: 15px;
  padding: 0.7em 1em;
  text-decoration: none;
  text-align: center;
}
.lnk:hover, .lnk:focus {
  color: #eb2b3e;
  outline: 0;
}

.lnk a, .lnk a:hover, .lnk a:focus, .lnk a:active {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
